<div class="bg-white">
  <h3 class="my-4 text-2xl font-semibold text-gray-700">
    {{ P_id != undefined ? "Add" : "Update" }} Product
  </h3>
  <form
    class="flex flex-col space-y-5"
    (ngSubmit)="submitProductForm()"
    [formGroup]="productForm"
  >
    <div class="flex flex-col space-y-1">
      <label for="product-title" class="text-sm font-semibold text-gray-500"
        >Product Title</label
      >
      <input
        type="text"
        formControlName="title"
        id="product-title"
        placeholder="Enter title"
        class="px-4 py-2 border border-gray-500 outline-none rounded"
      />
      <span
        class="text-red-700"
        *ngIf="productForm.controls['title'].errors?.['required'] && productForm.controls['title'].touched"
      >
        This is Required!!
      </span>
    </div>
    <div class="flex flex-col space-y-1">
      <label
        for="product-description"
        class="text-sm font-semibold text-gray-500"
        >Product Description</label
      >
      <input
        type="text"
        formControlName="description"
        id="product-description"
        placeholder="Enter description"
        class="px-4 py-2 border border-gray-500 outline-none rounded"
      />
      <span
        class="text-red-700"
        *ngIf="productForm.controls['description'].errors?.['required'] && productForm.controls['description'].touched"
      >
        This is Required!!
      </span>
    </div>
    <div class="flex items-center justify-between space-y-1">
      <div class="flex flex-col">
        <label
          for="product-category"
          class="text-sm font-semibold text-gray-500"
          >Category</label
        >
        <select
          formControlName="category_id"
          id="product-category"
          class="px-4 py-2 border border-gray-500 outline-none rounded"
          (change)="handleCategory($event)"
        >
          <option value="" [selected]="true">Select Category</option>
          <option value="1">mens</option>
          <option value="2">womens</option>
          <option value="3">kids</option>
        </select>
        <span
          class="text-red-700"
          *ngIf="productForm.controls['category_id'].errors?.['required'] && productForm.controls['category_id'].touched"
        >
          This is Required!!
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <label for="product-price" class="text-sm font-semibold text-gray-500"
          >Product Price</label
        >
        <input
          type="number"
          formControlName="price"
          id="product-price"
          placeholder="Enter price"
          class="px-4 py-2 border border-gray-500 outline-none rounded"
        />
        <span
          class="text-red-700"
          *ngIf="productForm.controls['price'].errors?.['required'] && productForm.controls['price'].touched"
        >
          This is Required!!
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <label for="product-stock" class="text-sm font-semibold text-gray-500"
          >Product Stock</label
        >
        <input
          type="number"
          formControlName="stock"
          id="product-stock"
          placeholder="Enter stock"
          class="px-4 py-2 border border-gray-500 outline-none rounded"
        />
        <span
          class="text-red-700"
          *ngIf="productForm.controls['stock'].errors?.['required'] && productForm.controls['stock'].touched"
        >
          This is Required!!
        </span>
      </div>
    </div>
    <div class="flex flex-col space-y-1">
      <label for="product-image" class="text-sm font-semibold text-gray-500"
        >Product Image</label
      >
      <input
        type="file"
        id="fileInput"
        (change)="handleFile($event)"
        class="px-4 py-2 border border-gray-500 outline-none rounded"
      />
      <img
        *ngIf="uploadedImgUrl != ''"
        [src]="uploadedImgUrl"
        class="w-24 h-24 object-cover rounded-md shadow-md"
      />
    </div>
    <div class="flex flex-col space-y-1">
      <label for="product-colors" class="text-sm font-semibold text-gray-500">
        Product Colors
      </label>
      <div class="flex items-center space-x-2">
        <input
          [(colorPicker)]="selectedColor"
          [style.background]="selectedColor"
          [cpOutputFormat]="'hex'"
          [value]="selectedColor"
          (colorPickerChange)="addColor($event)"
        />
        <div class="h-10 flex gap-2">
          <div
            *ngFor="let item of colors"
            class="relative w-8 h-8 cursor-pointer mt-2 hover:border-2 border-red-700"
            [ngStyle]="{ 'background-color': item }"
            style="border-radius: 50%"
            (click)="removeColor(item)"
          >
            <span
              class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity"
              (click)="removeColor(item)"
            >
              <nz-icon
                nzType="delete"
                nzTheme="outline"
                class="w-4 h-4 text-white"
              ></nz-icon>
            </span>
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-1">
        <label for="product-sizes" class="text-sm font-semibold text-gray-500">
          Product Sizes
        </label>
        <ng-multiselect-dropdown
          [placeholder]="'Select Size'"
          [settings]="dropdownSettings"
          [data]="sizeOptions"
          [(ngModel)]="selectedItems"
          (onSelect)="onSelectSize($event)"
          (onSelectAll)="onDeSelectSize($event)"
          (onDeSelect)="onDeSelectSize($event)"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="flex flex-col space-y-1">
        <label for="product-tag" class="text-sm font-semibold text-gray-500">
          Product Tag
        </label>

        <nz-select [(ngModel)]="selectedValue" formControlName="product_tag">
          @for (option of listOfOption; track option) {
          <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
          }
        </nz-select>
      </div>
      <button (click)="showModal()">add New Tag</button>

      <div class="flex flex-col space-y-1">
        <label
          for="product-tag-color"
          class="text-sm font-semibold text-gray-500"
        >
          Tag Color
        </label>
        <input
          [(colorPicker)]="selectedTagColor"
          [style.background]="selectedTagColor"
          [cpOutputFormat]="'hex'"
          [value]="selectedTagColor"
          (colorPickerChange)="onTagColorChange($event)"
        />
      </div>

      <div class="flex flex-col space-y-1">
        <label for="tag-active" class="text-sm font-semibold text-gray-500">
          Tag Active
        </label>
        <mat-slide-toggle formControlName="tag_active" [(ngModel)]="tagActive">
          {{ tagActive ? "Active" : "Inactive" }}
        </mat-slide-toggle>
      </div>
    </div>

    <div>
      <button
        [disabled]="productForm.invalid"
        type="submit"
        class="w-1/4 cursor-pointer px-4 py-2 text-lg font-semibold text-white bg-primary-600 rounded-lg"
      >
        {{ P_id != undefined ? "Add" : "Update" }} Product
      </button>
    </div>
  </form>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzTitle="Add tag"
  [nzFooter]="' '"
>
  <div *nzModalContent class="overflow-y-scroll">
    <div
      class="w-full flex justify-between border outline-none border-b-black rounded-lg p-2"
    >
      <input
        type="text"
        class="outline-none w-full"
        placeholder="Add New Tag"
        [(ngModel)]="newTag"
      />
      <button type="button" (click)="addNewTag()">Add</button>
    </div>

    <ul class="flex flex-col justify-around w-full">
      <li class="flex justify-between" *ngFor="let item of listOfOption">
        {{ item
        }}<span class="cursor-pointer" (click)="removeTag(item)"
          ><nz-icon nzType="delete" nzTheme="outline"
        /></span>
      </li>
    </ul>
  </div>
</nz-modal>
